FlexPMD/flex-pmd-core/src/test/resources/pmd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

-->
<!--W3C Schema generated by XMLSpy v2007 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="violation">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="ruleset" use="required" type="xs:string"/>
					<xs:attribute name="rule" use="required" type="xs:string"/>
					<xs:attribute name="priority" use="required" type="xs:int"/>
					<xs:attribute name="package" use="required" type="xs:string"/>
					<xs:attribute name="externalInfoUrl" use="required" type="xs:string"/>
					<xs:attribute name="endline" use="required" type="xs:int"/>
					<xs:attribute name="endcolumn" use="required" type="xs:int"/>
					<xs:attribute name="class" use="required" type="xs:string"/>
					<xs:attribute name="beginline" use="required" type="xs:int"/>
					<xs:attribute name="begincolumn" use="required" type="xs:int"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="pmd">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="file" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="version" use="required" type="xs:string"/>
			<xs:attribute name="timestamp" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="file">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="violation" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
